@use './utils/barrelUtils.scss' as *;
@use './components/barrelComponents.scss' as*;

.appStyled{
    background-color:rgba(253, 241, 224, 0.749);
    font-family: $font-montserrat;  
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

