@use "./utils/barrelUtils.scss" as *;
@use "./components/barrelComponents.scss" as *;

.appStyled {
  background-color: rgba(135, 186, 101, 0.931);
  font-family: $font-montserrat;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  a {
    text-decoration: none;
    color:white;
    font-weight: 500;
    font-size: larger;
  }

 
  
}
