@use "../utils/barrelUtils.scss" as *;

.heroStyled {
  width: 100%;
  @include movile {
    margin-top: 15%;
  }
}

.hero_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 3% 10% 3% 10%;
  height: 100vh;
  color: $color-text;
  gap: 20;
  font-size: xx-large;

  @include movile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.hero_text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;

  p {
    margin-bottom: 2%;
    font-size: 60%;
    margin-top: 1%;
  }

  h2 {
    margin: 0;
    color: $details-color;
  }

  h3 {
    margin: 0;
  }

  button {
    width: 30%;
    background-color: transparent;
    color: $details-color;
    padding: 1.5%;
    border-color: $details-color;
    font-size: medium;
    cursor: pointer;
    @include movile {
      width: 50%;
      margin: 2%;
    }

   &:hover{
    background-color: $details-color;
    color:$color-bg;
    font-weight: 500;
    border-color: $color-bg 2px solid;
   }
  }

  @include movile{
    margin-top: 15%;
  }
}

.hero_image {
  width: 380px;
  height: 380px;
  @include movile {    
    width: 220px;
    height: 220px;
    margin-top: 24px;
  }
}

.heroTitle {
  margin: 10% 10%;
  color: $color-text;
  width: 100%;
}

.heroDescription {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 1% 15% 1% 15%;
  font-size: larger;
  font-family: $font-montserrat;
}

.animationText {
  color: $color-bg;
}

.animationText {
  color: $details-color;
}
