
@use '../utils/barrelUtils.scss' as *;

.heroStyled{
    width: 100%;    
    margin: 3% 10% 3% 10%;   
    display: flex;
    flex-direction: column; 
    justify-content: center;      
    height: 100vh;
    color: $color-text;
    gap:0;
    font-size: xx-large;
    
    p{
        margin-bottom: 2%;
        font-size: 50%;
    }

    h2{
        margin:0;
        color: $details-color;
    }

    h3{
        margin: 0
    }


    button{
        width: 20%;
        background-color: transparent;
        color:$details-color;
        padding: 1%;
        border-color: $details-color;
        font-size: large;
    }
}





.heroTitle{    
    margin: 10%  10%;    
    color:$color-text
    
}

.heroDescription{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 1% 15% 1% 15%;
    font-size: larger;
    font-family: $font-montserrat;
    
}

.animationText{
    color:$color-principal
}

.animationText{
 color:$details-color
}