@use "../utils/barrelUtils.scss" as *;

.title{
  color:$color-bg;
  font-size: xx-large;
}

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.styledProjectsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-around;
  
  
  
  @include movile {
    width: 98%;
    margin: 1% 1% 1% 1%;
  }
}
.styledCard {
  position: relative;
  margin: 2%;
  transition: all 0.5s ease-in;
  width: 40%;

  @include movile {    width: 98%;   
   
  }
}

.card__image {
  width: 100%;
  height: 200px; 
  
}

.styledCard:hover {
  box-shadow: 5px 5px 10px #949794, -8px -8px 10px #afb1af;
}


.styledCard:hover .card__overlay {
  opacity: 0.9;
}

.card__title {
  margin-bottom: 0.2%;
}

.card__desc {
  
  font-size: medium;
  font-weight: 300;
}

.buttonsAndTags {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tecnoContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tagsContainer {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.cardTag {
  background-color: $color-bg;
  font-size: small;
  color: #ffffff;
  font-weight: 500;
  border-radius: 15%;
  width: 100%;
  padding-right: 3%;
  padding-left: 5%;
  padding-bottom: 1%;
  padding-top: 1%;
  margin: 1.5%;
  text-align: center;
}

.deployButton {
  width: fit-content;
  background-color: $color-bg;
  color: #ffffff;
  font-weight: 500;
  width: 100%;
  padding: 1%;
  border: 1px transparent;
  border-radius: 80px 20px;
  cursor: pointer;
}

.deployButton:hover {
  filter: brightness(1.2);
}

.cardsButtons {
  width: 60%;
  display: flex;
  margin-top: 2%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.githubLink:hover {
  filter: brightness(1.2);
  transform: rotate(30deg);
}

.wrapperLink {
  margin-top: 0%;
}

.githubIcon {
  align-self: center;
  margin-top: 5%;
  cursor: pointer;
  font-weight: 700;
  transform: scale(1.5);
  color: #ffffff;
}

/* .githubIcon:hover {
    transform: rotate(35deg);
  } */


  .modal__button{
    background-color: #afb1af;
    border-radius: 20px;
    color: #ffffff;    
  }