@use "../utils/colors" as *;
@use "../utils/mixins" as *;

.projectCard {
  background-color: lighten($color-bg, 30%);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition: box-shadow 0.3s ease;
  width: 250px;
  margin-bottom: 16px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .image {
    width: 100%;
    height: 30%;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 16px;
    font-weight: 600;
    color: $color-header;
    margin-bottom: 8px;
  }

  .technologies {
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    margin-left: 5%;
  }

  .span {
    background-color: $color-button;
    color: $color-bg;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin: 1%;
  }

  .description {
    font-size: 14px;
    color: $color-text;
    margin-bottom: 10px;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;

    .button {
      background-color: $color-button;
      color: $color-bg;
      font-size: 14px;
      font-weight: 500;
      padding: 8px 16px;
      border-radius: 4px;
      margin-right: 10px;
      text-decoration: none;

      &:hover {
        background-color: darken($color-button, 10%);
      }
    }
  }
}
