@use "../utils/barrelUtils.scss" as *;

.styledIcon {
  width: 80px;
  height: 80px;
  padding: 1.5%;
}

.skills {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60%;
  margin: 20px auto;
  @include movile {
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
  
}

.title {
  text-align: center;
  font-size: xx-large;
}

.iconBox {
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  padding: 20px;
  border-radius: 8px;
  background-color: #d4d4d4;
  margin-bottom: 20px;
  @include movile{
    width: 60px;
    padding: 10px; 
    margin-bottom: 10px;
  }
}

.styledIcon {
  width: 60px;
  height: 60px;
  @include movile{
    width: 30px;
    height: 30px;
  }
}

.iconTitle {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color:$color-bg
}

.iconContainer:hover .iconTitle {
  display: block;
}
