@use "../../utils/barrelUtils.scss" as *;

.logoTitle {
  padding: 1%;
  font-size: 2.1em;
  color: $details-color;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1%;
  @include movile {
    width: 50%;
  }
}
