@use '../../utils/barrelUtils.scss' as *;

.logoTitle{
    font-size: xx-large;
    color: rgb(211, 16, 16);
    font-weight: 700;    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1%;
    

    @include movile {
      width: 50%;
    }
}


