@use "../../utils/barrelUtils.scss" as *;

.styledHeader {
  display: flex;
  justify-content:flex-start;
  gap:20%;
  flex-wrap: wrap;
  width: 100%;
  margin: 0% 1% 1% 0%;
  position: fixed;
  top: 0;
  background-color: $color-header;
  align-items: center;
}

.styledNavBar {
  width: 60%;
  margin: 0 5% 0 5%;
  @include movile{
    display: none;
  }
}

.navBarOpen{
  display: none;
  @include movile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    
    
  }
}


.listItems {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-left: 0;
  
  cursor:pointer;  

  @include movile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 6.25vh;
    padding:1%
  }

  li {
    text-decoration: none;
  }
}


.listItemsOpen{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menuIcon {
  display: none;
  @include movile {
    display: inline;
    padding: 2%;
    color: white;
    
    transform: scale(1.5);
    
   
  }
}

.menuIconHidden {
  display: none;
}

.cancelIconVisible {
  @include movile {
    display: inline;
    padding: 3%;
    color: white;
    width: 5%;
    transform: scale(1.5);
  }
}

.cancelIcon {
  display: none;
}

.listMovile {
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  width: 100%;
}
